﻿@using Test_upteka.Models
@model Product
<div id="addproduct" style="display:none">
@using(Html.BeginForm("AddProduct","Home",FormMethod.Post))
{
    @Html.ValidationSummary(true)
    @Html.Action("FormProduct", new { product=Model })
    <div>
        <input type="submit" value="Добавить" />
    </div>    
}
</div>