﻿@using Test_upteka.Models
@model Product
@{
    ViewBag.Title = "Редактировать";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Редактировать продукт</h2>
@using(Html.BeginForm("EditProduct","Home",FormMethod.Post))
{
    @Html.Action("FormProduct", new { product=Model })
    <div>
        <input type="submit" value="Сохранить" />
    </div>    
}