﻿@using Test_upteka.Models
@model Product
    <table class="form">
            <tr>
                <td class="tr1">@Html.LabelFor(p => p.Name)</td>
                <td class="tr2">@Html.TextBoxFor(p => p.Name)</td>
                <td class="tr3">@Html.ValidationMessageFor(model => model.Name)</td>
            </tr>
            <tr>
                <td class="tr1">@Html.LabelFor(p => p.Barcode)</td>
                <td class="tr2">@Html.TextBoxFor(p => p.Barcode, new { data_val_number="только числа"})</td>
                <td class="tr3">@Html.ValidationMessageFor(model => model.Barcode)</td>
            </tr>
            <tr>
                <td class="tr1">@Html.LabelFor(p => p.Sum)</td>
                <td class="tr2">@Html.TextBoxFor(p => p.Sum, new { data_val_number = "только числа" })</td>
                <td class="tr3">@Html.ValidationMessageFor(model => model.Sum)</td>
            </tr>
    </table>