﻿@using Test_upteka.Models
@model IEnumerable<Product>

<table class="form" >
    <tr>
        <th>ID</th>
        <th>Наименование</th>
        <th>Штрих-код</th>
        <th>Кол-во</th>
        <th></th>
        <th></th>
    </tr>
@foreach (Product product in Model)
{
    <tr>
        <td class="tr1">@product.ID</td>                
        <td class="tr2">@product.Name</td>
        <td class="tr3">@product.Barcode</td>
        <td class="tr3">@product.Sum</td>
        <td class="tr2"><a href="" id="@product.ID" class="delete" onclick="reload(this);return false;">Удалить</a></td>
        <td class="tr2">@Html.ActionLink("Редактировать","EditProduct",new { id=product.ID })</td>
    </tr>
}
</table>
