﻿@using Test_upteka.Models
@{
    ViewBag.Title = "Тестовый проект";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Тестовый проект</h2>
<a href="" id="addp" onclick="return false;">Добавить новый продукт</a>
@Html.ValidationSummary(true)
@Html.Action("AddProduct")
<div id="table">
@Html.Action("GetProducts")
</div>
<script type="text/javascript">
    function reload(e) {
        var id = $(e).attr('id');
        $.ajax({
            type: 'GET',
            url: '@Url.Action("DeleteProduct")/' + id,
            success: function (data) {
                $('#table').replaceWith(data);
            }
        });
    }
    $(document).ready(function () {
        $('#addp').click(function () {
            $("#addproduct").toggle();
        });
    });
</script>