body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header,
footer,
nav,
section {
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}


#table
{
    text-align:center;
    margin-top:50px;
}
body
{
    text-align:center;
}
#page
{
    text-align:center;
    width:800px;
    left:50%;
    margin-left:-400px;
    position:relative;
}
td,th
{
    height:30px;
}
.form
{
    width: 600px;
    text-align: left;
    margin-top: 20px;
    margin-left: -300px;
    left: 50%;
    position: relative;
    background-color: #FFCCFF;
    border-color: Gray;
    padding:10px;
}
.tr1
{
    width:100px;
}
.tr2
{
    width:150px;
}
.tr3
{
  width:200px;   
}
input[type=text]
{
    height:20px;
}
input[type=submit]
{
    margin-top:10px;
    width:100px;
    height:30px
}
h2
{
    background-color:#211F1F;
    text-align:left;
    padding:5px;
    color:white;
}
#addp
{
    left:0px;
    margin-left:10px;
    display:block;
}